<p>
  <strong>Title:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Tasks:</strong>
  <%= @project.tasks.each do |task| %>
  <p>
    <strong>Title:</strong>
    <%= task.Title %>
  </p>
<% end %>
</p>